.Search {
    font-family: "Poppins", sans-serif;
    background: 0%;
  }
  
  .btn.btn-primary {
    background-color: #b9d8e8;
    border-style: none;
    font-weight: 500;
  }
  
  .Search .current-position {
    padding: 0;
    position: relative;
    top: 6px;
    right: 6px;
    font-size: 28px;
    background: transparent;
    color: #b9d8e8;
    border: none;
    transition: all 150ms ease-in-out;
  }
  
  .Search  h1 {
    font-weight: 500;
    font-size: 35px;
  }
  
  .Search  p {
    opacity: 80%;
    margin-bottom: 5px;
    font-size: 20px;
  }
  .Search  .date {
    font-size: 20px;
    font-weight: 500;
  }
  .Search  ul {
    list-style: none;
    position: relative;
    top: 45px;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  strong {
    font-weight: 500;
  }
  
  .temperature {
    position: relative;
    top: 20px;
    right: 35px;
    margin-right: 0;
    line-height: 60px;
    font-size: 50px;
  }
  
  .unit {
    vertical-align: super;
    position: relative;
    right: 28px;
    top: -5px;
    font-size: 60%;
    font-size: 15px;
  }
